<ion-view ng-controller="actionController">
	<ion-nav-bar class="bar-stable inside_header">
            <div id="header_wrap">
			<img class="logo_hydro" src="../img/logo_header_@2x.png" alt="logo_hydro"/>
			<div class="xp_wrapper">
		      <p class="xp">XP</p>
		      <div class="loader_wrap">
		         <div class="fill" data-xp="}}">
		            <p>{{user.xp}}<span>pts</span></p>
		         </div>
		      </div>
		      <p class="grade">{{user.level.rankName}} {{user.username}}</p>
		   </div>
            </div>
	</ion-nav-bar>
	<ion-content class="padding">
		<div id="action">
			<span class="icon-cross" ng-click="backToMap()"></span>
			<div id="title">
				<h1><span class="icon-{{action.type}}"></span>{{action.name}}</h1>
			</div>
			<div id="description">
				<p>{{action.description}}</p>
			</div>
			<div id="action_attributes">
				<div class="attribute">
					<div class="label">
						<p>xp max</p>
					</div>
					<div class="value">
						<p>{{action.maxXp}}</p>
					</div>
				</div>
				<div class="attribute">
					<div class="label">
						<p>xp min</p>
					</div>
					<div class="value">
						<p>{{action.accessLevel}}</p>
					</div>
				</div>
				<div class="attribute full">
					<div class="label">
						<p>influence prevue</p>
					</div>
					<div class="value">
						<p>61%</p>
					</div>
				</div>
				<div class="attribute">
					<div class="label">
						<p>baisse</p>
					</div>
					<div class="value">
						<p>1.7%</p>
					</div>
				</div>
				<div class="attribute">
					<div class="label">
						<p>cooldown</p>
					</div>
					<div class="value">
						<p>{{action.coolDown / 60}} min.</p>
					</div>
				</div>
			</div>
			<button class="button button-full button-action" ng-click="makeAction(actionId)">effectuer action</button>
		</div>
	</ion-content>
</ion-view>