<ion-view view-title="Hydromerta" ng-controller="AuthController">
  <div class="bar bar-header bar-energized">
    <h1 class="title">Hydromerta</h1>
  </div>
  <ion-content class="padding">

    <form name="registerForm">


      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="user.username" required="required"/>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.password" required="required"/>
        </label>
                  <label class="item item-input">
          <input type="password" placeholder="Confirm password" ng-model="user.confirmPassword" required="required"/>
        </label>
      </div>

      <!-- Display an error message here, above the submit button, if an error occurred. -->
      <p ng-if="error" class="error">{{ error }}</p>

      <!--
        The submit button.
        The "ng-click" directive indicates which scope function to call when the form is submitted.
        The "ng-disabled" directive is used to disable the button if the form is invalid (i.e. the first name or last name is missing).
      -->
      <button class="button button-full button-positive" ng-click="register()" ng-disabled="loginForm.$invalid">Register</button>
    </form>
  </ion-content>
</ion-view>